body {background-color: beige ; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
button {background-color: rgb(230, 161, 59) ; border-radius: 5px ;}
table, th, td {
    border-collapse: collapse;
    border: 3px solid rgb(250, 196, 125);
    padding: 5px;
    background-color: rgb(253, 253, 247);
}
table {
    border-radius: 5px;
}