<!doctype html>
<html>
  <head>
    <title>Sample app</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1>You are calling me from {{ request.remote_addr }}</h1>

    <form action="{{ url_for('add_router') }}" method="POST">
      <input type="text" name="ip" placeholder="IP address"required>
      <input type="text" name="username" placeholder="username" required>
      <input type="password" name="passwd" placeholder="password" required>
      <button type="submit">Add Device</button>
    </form>

    <div>
      <h2>Guestbook</h2>
      <ul>
        {% for router in routers %}
          <li>
            <a href="{{ url_for('show_interfaces', ip=router.ip) }}">{{ router.ip }}</a> - {{ router.username }}
            <form action="{{ url_for('delete_router', id=router._id|string) }}" method="POST" style="display:inline;">
              <input type="hidden" name="idx" value="{{ loop.index0 }}">
              <button type="submit">Delete</button>
            </form>
          </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
